<div class="card">
  <h1>Register</h1>

  <% if (typeof errors != "undefined") { %>
  <% errors.forEach(function (error) { %>
  <p><%= error.developerMessage %></p>
  <% }) %>
  <% } %>

  <form role="form" action="/auth/local/register" method="post">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Sign up</button>
  </form>

  <% if (typeof providers != "undefined" && Object.keys(providers).length) { %>
  <h4>You can also use one of these...</h4>

  <% Object.keys(providers).forEach(function (key) { %>
  <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }); %>
  <% } %>
</div>
